@charset "UTF-8";
.page-header {
  background-color: var(--accent-new-color);
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-bloe {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.item {
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms var(--timing);
}

.site-nav .link.current:hover::after {
  opacity: 1;
}

.site-nav .link.activ::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms var(--timing);
}

.site-nav .link.activ:hover::after {
  opacity: 1;
}

/* сылка авторизации */
.auth-link .link:hover,
.auth-link .link:focus {
  color: var(--accent-color);
}

.auth-link {
  display: flex;
  margin-left: auto;
}

.auth-link .item + .item {
  margin-left: 50px;
}

.auth-link .link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  align-items: center;
}

.mailto {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.auth-link .link:hover .mailto,
.auth-link .link:focus .mailto,
.auth-link .link:hover .phone,
.auth-link .link:focus .phone {
  fill: var(--accent-color);
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.phone:hover,
.phone:focus {
  fill: var(--accent-color);
}

.banner {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(7, 9, 26, 0.4)), url(../img/16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner .banner-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-new-color);
}

/* Кнопка */
.banner .button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: var(--title-text);
  width: 200px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.button.primary {
  color: var(--accent-new-color);
  background-color: var(--accent-color);
}

/* modal */
.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  max-width: 500px;
  background: var(--accent-new-color);
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
}

.button-modal {
  display: flex;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background: var(--accent-new-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-icon {
  width: 18px;
  height: 18px;
  color: #000000;
}

.modal-title {
  display: flex;
  width: 448px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text);
}

.coment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.coment:hover, .coment:focus {
  border: 1px solid #2196F3;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-lable {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-text-color);
}

.form-input:focus, .form-input:hover {
  border: 1px solid #2196F3;
  outline: none;
  cursor: pointer;
}

.form-input:focus + .form-ikon,
.form-input:hover + .form-ikon {
  fill: var(--accent-color);
}

.form-input {
  width: 100%;
  padding: 14px;
  padding-left: 42px;
  background: var(--accent-new-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
}

.form-ikon {
  position: absolute;
  top: 24px;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.checkbox-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
}

.checkbox:checked + .checkbox-label span {
  background-color: var(--accent-color);
  border: none;
}

.form-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-ikon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 8px;
  border-radius: 2px;
}

.form-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 55px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  border: transparent;
  color: var(--accent-new-color);
}

.form-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  display: none;
}

.features {
  background: var(--accent-new-color);
  padding-bottom: 0;
}

.moment {
  display: flex;
}

.moment .item:hover, .moment .item:focus {
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.moment .item:not(:last-child) {
  margin-right: 30px;
}

.moment .item .features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 27px;
}

.moment .item .features-icon {
  height: 70px;
  height: 70px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text);
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work {
  background: var(--accent-new-color);
}

.work-container {
  display: flex;
}

.work-img {
  display: block;
  position: relative;
  margin-right: 30px;
}

.work-owerlay {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  padding: 27px 0px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.name-owerlay {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-new-color);
}

.work-img:last-child {
  margin-right: 0;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}

.our-team {
  background: #F5F4FA;
}

.our-team-container {
  display: flex;
}

.our-team-container__men {
  background: var(--accent-new-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-container__men:last-child {
  margin-right: 0;
}

.our-team__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}

.our-team-container__info {
  padding: 30px 0;
}

.our-team-container__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
}

.our-team-container__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.network-list__link {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  outline: none;
}

.network-list__link:hover,
.network-list__link:focus {
  background: var(--accent-color);
  fill: var(--accent-new-color);
}

.network-list {
  display: flex;
  justify-content: center;
}

.network-list__item:not(:last-child) {
  margin-right: 10px;
}

.network-list__social {
  width: 20px;
  height: 20px;
}

.network-list__link:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */